{% extends "base.html" %}
{% load static i18n%}
{% block content %}
      <link href="{% static 'css/home.css' %}" rel="stylesheet" />
  <style>
    .container {
       display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
    .labelFile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 250px;
  height: 190px;
  border: 2px dashed #ccc;
  align-items: center;
  text-align: center;
  padding: 5px;
  color: #404040;
  cursor: pointer;
  margin-top:20px;
  }
.radio-button-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 2px solid #555;
  margin-top:-5px;
  transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: #4c8bf5;
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px #4c8bf580;
}

.radio-button__input:checked + .radio-button__label {
  color: #4c8bf5;
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: #4c8bf5;
  box-shadow: 0 0 20px #4c8bf580;
}
}

    </style>
            {% if request.user.is_authenticated %}

     <h1 style=" font-family: Arial, Helvetica, sans-serif;">English to Vietnamese Translator</h1>


             <div class="container" style=" font-family: Arial, Helvetica, sans-serif;">

                <form enctype="multipart/form-data"  method="post" style="text-align:center; ">
                      {% csrf_token %}
                       <div class="container">
                  <div class="radio-inputs">
                        <label class="radio" style="background-color: #555555; border-radius:30px">
                          <input  type="submit" name="radio" checked="" value="file_text" >
                          <span class="name" style="color:#FFFFFF"> File text</span>
                        </label>
                        <label class="radio">
                          <input type="submit" name="radio" value="file_pdf">
                          <span class="name">File PDF</span>
                        </label>

                        <label class="radio">
                          <input type="submit" name="radio" value="Text">
                          <span class="name">Text</span>
                        </label>
                      </div>
                           <h3>Chọn model dịch</h3>

                    <div class="radio-button-container" >
  <div class="radio-button">
  <input type="radio" class="radio-button__input" id="radio1" value="vin" name="radio-model" checked>
  <label class="radio-button__label" for="radio1">
    <span class="radio-button__custom"></span>
    vinai-translate-en2vi-v2
  </label>
</div>
<div class="radio-button">
  <input type="radio" class="radio-button__input" id="radio2" value="gg" name="radio-model" >
  <label class="radio-button__label" for="radio2">
    <span class="radio-button__custom"></span>
    google-translator
  </label>
</div>
<div class="radio-button">
  <input type="radio" class="radio-button__input" id="radio3" value="viet" name="radio-model">
  <label class="radio-button__label" for="radio3">
    <span class="radio-button__custom"></span>
    vietAi-translate
  </label>
</div>
</div>

                    <label for="file" class="labelFile"
  ><span
    ><svg
      xml:space="preserve"
      viewBox="0 0 184.69 184.69"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xmlns="http://www.w3.org/2000/svg"
      id="Capa_1"
      version="1.1"
      width="60px"
      height="60px"
    >
      <g>
        <g>
          <g>
            <path
              d="M149.968,50.186c-8.017-14.308-23.796-22.515-40.717-19.813
				C102.609,16.43,88.713,7.576,73.087,7.576c-22.117,0-40.112,17.994-40.112,40.115c0,0.913,0.036,1.854,0.118,2.834
				C14.004,54.875,0,72.11,0,91.959c0,23.456,19.082,42.535,42.538,42.535h33.623v-7.025H42.538
				c-19.583,0-35.509-15.929-35.509-35.509c0-17.526,13.084-32.621,30.442-35.105c0.931-0.132,1.768-0.633,2.326-1.392
				c0.555-0.755,0.795-1.704,0.644-2.63c-0.297-1.904-0.447-3.582-0.447-5.139c0-18.249,14.852-33.094,33.094-33.094
				c13.703,0,25.789,8.26,30.803,21.04c0.63,1.621,2.351,2.534,4.058,2.14c15.425-3.568,29.919,3.883,36.604,17.168
				c0.508,1.027,1.503,1.736,2.641,1.897c17.368,2.473,30.481,17.569,30.481,35.112c0,19.58-15.937,35.509-35.52,35.509H97.391
				v7.025h44.761c23.459,0,42.538-19.079,42.538-42.535C184.69,71.545,169.884,53.901,149.968,50.186z"
              style="fill:#010002;"
            ></path>
          </g>
          <g>
            <path
              d="M108.586,90.201c1.406-1.403,1.406-3.672,0-5.075L88.541,65.078
				c-0.701-0.698-1.614-1.045-2.534-1.045l-0.064,0.011c-0.018,0-0.036-0.011-0.054-0.011c-0.931,0-1.85,0.361-2.534,1.045
				L63.31,85.127c-1.403,1.403-1.403,3.672,0,5.075c1.403,1.406,3.672,1.406,5.075,0L82.296,76.29v97.227
				c0,1.99,1.603,3.597,3.593,3.597c1.979,0,3.59-1.607,3.59-3.597V76.165l14.033,14.036
				C104.91,91.608,107.183,91.608,108.586,90.201z"
              style="fill:#010002;"
            ></path>
          </g>
        </g>
      </g></svg
  ></span>
  <p>drag and drop your text file here or click to select a text file !</p></label
>



                <div style="margin-top: 40px">

            <label style="margin-right: 10px"> Choose file text</label><input class="input" name="input_file" id="file" type="file" accept=".txt , .doc, .docx"  />

</div>


                  <button name="translate" class="trans" style="margin-top: 20px"> Translate</button>

                </div>
                  </form>

             </div>
            {% else %}
              <p> Vui lòng đăng nhập để sử dụng tính năng </p>
            {% endif %}
{% endblock content %}
