{% extends "base.html" %}
{% load static i18n%}
{% block content %}
      <link href="{% static 'css/home.css' %}" rel="stylesheet" />

    <h1>English to Vietnamese Translator</h1>

             <div class="container">

                <form enctype="multipart/form-data"  method="post" style="text-align:center">
                      {% csrf_token %}
                  <div class="radio-inputs">
                        <label class="radio">
                          <input  type="submit" name="radio" value="file_text">
                          <span class="name">File text</span>
                        </label>
                        <label class="radio">
                          <input type="submit" name="radio" value="file_pdf">
                          <span class="name">File PDF</span>
                        </label>

                        <label class="radio">
                          <input type="submit" name="radio" checked="" value="Text">
                          <span class="name">Text</span>
                        </label>
                      </div>

                      <div>
            <label> Chose file PDF </label>
                  <input class="input" name="input_file" id="file" type="file" accept=" .pdf "  />

</div>

                                  <button style="margin-top: 20px"> Translate</button>


                </form>
             </div>

{% endblock content %}
